<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users
        [users]="activeUsers"
        ></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"
       ></app-inactive-users>
    </div>   
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
         <p>Count of Operations: {{operations}}</p>
      </div>
    </div> 
  </div>
