<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"   
          [ngClass]="{odd: number % 2!==0 }"  
          [ngStyle]="{backgroundColor: number % 2!==0 ? 'yellow' : 'transparent'}"      
          *ngFor="let number of evenNumbers"
          >
          {{ number }}
        </li> <!--{binding to some property}-->
      </ul>
      <!-- <ng-template [ngIf]="onlyOdd">
        <li
        class="list-group-item"  
        [ngClass]="{odd: number % 2!==0 }"
        [ngStyle]="{backgroundColor: number % 2!==0 ? 'yellow' : 'transparent'}"
        *ngFor="let number of oddNumbers">
        {{ number }}
      </li>
      </ng-template> -->
      <div *appUnless = "!onlyOdd">
        <li
        class="list-group-item"  
        [ngClass]="{odd: number % 2!==0 }"
        [ngStyle]="{backgroundColor: number % 2!==0 ? 'yellow' : 'transparent'}"
        *ngFor="let number of oddNumbers">
        {{ number }}
      </li>
      </div>
       <p appBasicHighlight>Style me with a basic directive!</p> <!--no square brackets, our basic directive-->
       <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Using the render!</p> <!--no square brackets, our basic directive-->
       <div [ngSwitch]="value">
          <p *ngSwitchCase="5">value is 5</p>
          <p *ngSwitchCase="10">value is 10</p>
          <p *ngSwitchCase="100">value is 100</p>
          <p *ngSwitchDefault>value is Default</p>
       </div>
    </div>
  </div>
</div>
